.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border-style: solid;
    border-width: 1px;
    gap: 1rem;
    @apply font-semibold transition-all rounded-lg;
}

.btn{
    &-primary{
        background-color: var(--primary-800);
        color: #fff;
        border-color: var(--primary-800);

        &:hover, &:focus, &.is-active{
            background-color: var(--primary-700);
            color: #fff;
            border-color: var(--primary-700);
        }
    }

    &-secondary{
        background-color: var(--secondary-800);
        color: #fff;
        border-color: var(--secondary-800);

        &:hover, &:focus, &.is-active{
            background-color: var(--secondary-700);
            color: #fff;
            border-color: var(--secondary-700);
        }
    }

    &-light{
        background-color: var(--light-200);
        color: var(--color-dark);
        border-color: var(--light-200);

        &:hover, &:focus, &.is-active{
            background-color: var(--light-200);
            color:  var(--color-dark);
            border-color: var(--light-200);
        }
    }

    &-outline{
        &.btn{
            &-light{
                background-color: transparent !important;
                border-color: var(--light-200);

                &:hover, &:focus, &.is-active{
                    background-color: var(--light-200) !important;
                    color: var(--color-dark);
                    border-color: var(--light-200);
                }
            }
    
            &-primary{
                background-color: transparent;
                color: var(--primary-800);

                &:hover, &:focus, &.is-active{
                    background-color: var(--primary-700);
                    color: #fff;
                    border-color: var(--primary-700);
                }
            }
    
            &-secondary{
                background-color: transparent;
                color: var(--secondary-800);

                &:hover, &:focus, &.is-active{
                    background-color: var(--secondary-700);
                    color: #fff;
                    border-color: var(--secondary-700);
                }
            }
        }
    }
    
}