.link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 1rem;
    transition: all 0.3s;
    color: var(--color-dark);

    &:hover, &:focus, &.is-active{
        color: var(--primary-500);
    }
}

.link{
    &-primary{
        color: var(--primary-800);

        &:hover, &:focus, &.is-active{
            color: var(--primary-500);
        }
    }

    &-secondary{
        color: var(--secondary-800);

        &:hover, &:focus, &.is-active{
            color: var(--secondary-500);
        }
    }

    &-light{
        color: var(--light-200);

        &:hover, &:focus, &.is-active{
            color: var(--light-400);
        }
    }
}