.main-navigation{
    .menu{
        display: flex;
        gap: 1rem;
        list-style: none;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;

        @media screen and (min-width: 768px){
            flex-direction: row;
            padding: 0;
        }
    }

    .page_item,
    .menu-item{
        a{
            @extend .link;
        }
        &.current_page_item a{
            color: var(--primary-500);
        }
    }

    .menu__container{
        position: relative;

        @media screen and (max-width: 768px){
            position: absolute;
            transition: all 0.2s ease-in-out;
            background-color: white;
            height: calc(102vh - 100%);
            top: 100%;
            width: 70%;
            left: 0;
            z-index: 10;
            @apply shadow-lg;
        }
    }


    @media screen and (max-width: 768px){
        .menu__container{
            transform: translateX(-100%);
        }

        &.open{
            .menu__container{
                transform: translateX(0);
            }
        }
    }
   
}

.site-header{
    position: sticky;
    z-index: 20;
    top: 0;
    background: white;

    @apply shadow-transparent transition-all duration-300;

    &.scrolled{
        @apply shadow-md;
    }
}